*{
    margin:0; 
    padding:0;
    box-sizing: border-box;
}
html, body{
    font-family: 'Roboto', sans-serif;
}
.container{
    max-width:1250px;
}
body{
    line-height: 1.8em;
    background-size: cover;
    background-attachment: fixed;
}